header {
	background-image: url('../assets/gradient-bg.svg');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	display: grid;
	grid-template-columns: 1fr var(--width-desktop) 1fr;
}

#header {
	display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 76rem;
	width: var(--width-desktop);
	grid-column-start: 2;
	grid-column-end: 3;
}

nav {
  display: flex;
  align-items: center;
  gap: 48rem;
}

nav img {
  display: block;
}

nav a {
  font-weight: 600;
}


.wrapper__toggle_signin {
  display: flex;
  align-items: center;
  gap: 32rem;
}
.wrapper__darkmode {
  padding-right: 17rem;
	color: var(--color-gray-700);
	font-weight: 600;
}

/*-----------------------------------------------------------------------
/// Dark mode toggle
/// Original code created by Marcus Burnette
/// https://codepen.io/mburnette/pen/LxNxNg
-----------------------------------------------------------------------*/

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

#toggle label {
	cursor: not-allowed;
	text-indent: -9999px;
	width: 46px;
	height: 24px;
	background: var(--color-gray-600);
	display: inline-block;
	border-radius: 100px;
	position: relative;
}

#toggle label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
}

/*-----------------------------------------------------------------------
/// Styles for Sign in/up buytton
-----------------------------------------------------------------------*/

.button__signin {
	display: inline-block;
	width: 140rem;
	height: 36rem;
	background-image: url('../assets/avatar.svg');
	background-repeat: no-repeat;
	background-position-x: 20rem;
	background-position-y: center;
	text-align: right;
	border-radius: 4rem;
	padding-right: 20rem;
}