#section-05 {
  display: grid;
  grid-template-columns: auto var(--width-desktop) auto;
}
#section-05 > div {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 72rem;
  margin-bottom: 99rem;
  display: grid;
  grid-template-columns: 420rem auto auto;
}
#s05 > h2 {
  width: 306rem;
  margin-top: 8rem;
}
#s05 > div {
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:top;
  height: 380rem;
  padding-top: 110rem;

}
#s05 > div:first-of-type {
  background-image: url('../assets/testimonial-1.svg');
}
#s05 > div:last-of-type {
  background-image: url('../assets/testimonial-2.svg');
}
.testimonials {
  width: 368rem;
  height: 217rem;
  margin-left: 34rem;
}
.testimonials p {
  font-size: var(--fontsize-body-l);
  line-height: 160%;
  margin-bottom: 24rem;
}
.testimonials > div {
  padding-left: 64rem;
  background-repeat: no-repeat;
  background-position-x:left;
  background-position-y:top;
  height: 48rem;
}
.testimonials #client-1 {
  background-image: url('../assets/client-fanny.png');
}
.testimonials #client-2 {
  background-image: url('../assets/client-albert.png');
}
.name {
  color: var(--color-gray-900);
  font-weight: var(--fontweight-bold);
}
.occupation {
  color: var(--color-gray-600);
  font-size: var(--fontsize-body-s);
}