#section-04 {
  display: grid;
  grid-template-columns: auto 1076rem auto;
}
#section-04 > div:first-of-type {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  align-items: center;
  margin-top: 112rem;
  margin-bottom: 112rem;
}

/*-----------------------------------------------------------------------
/// Styles for Make your money...
-----------------------------------------------------------------------*/

.container__make_your_money {
  height: 500rem;
  padding-right: 665rem;
  background-image: url('../assets/graphic-1.webp');
  background-repeat: no-repeat;
  background-position-x:right;
  background-position-y:center;
  margin-bottom: 80rem;
}
.container__make_your_money h2 {
  font-size: var(--fontsize-heading-m);
  line-height: 130%;
  margin-top: 80rem;
  margin-bottom: 44rem;
  width: 400rem;
}
.container__make_your_money ul {
  list-style-position: inside;
  list-style-type: none;
}
.container__make_your_money li {
  background-image: url('../assets/check-circle.svg');
  background-repeat: no-repeat;
  background-position-x:left;
  background-position-y:center;
  text-indent: 28rem;
  margin-bottom: 20rem;
}
.container__make_your_money a {
  margin-top: 40rem;
}

/*-----------------------------------------------------------------------
/// Styles for Receive payment...
-----------------------------------------------------------------------*/

.container__receive_payment {
  height: 500rem;
  padding-left: 550rem;
  background-image: url('../assets/graphic-2.webp');
  background-repeat: no-repeat;
  background-position-x:left;
  background-position-y:center;
}
.container__receive_payment h2 {
  font-size: var(--fontsize-heading-m);
  line-height: 130%;
  margin-top: 74rem;
  margin-bottom: 40rem;
}
.container__receive_payment div {
  display: flex;
  justify-content: space-between;
}
.container__receive_payment p {
  display: inline-block;
  background-repeat: no-repeat;
  background-position-x:left;
  background-position-y:top;
  width: 243rem;
  line-height: 160%;
  padding-top: 80rem;
}
.container__receive_payment p:first-of-type {
  background-image: url('../assets/icon-card.svg');
}
.container__receive_payment p:last-of-type {
  background-image: url('../assets/icon-wallet.svg');
}
.container__receive_payment a {
  margin-top: 40rem;
}

/*-----------------------------------------------------------------------
/// Styles for the Learn More button
-----------------------------------------------------------------------*/

.button__learn_more {
  display: block;
  width: 156rem;
  height: 44rem;
  background-image: url('../assets/arrow-right-white.svg');
  background-repeat: no-repeat;
  background-position-x: 116rem;
  background-position-y: 17rem;
  text-align: right;
  border-radius: 6rem;
  padding-right: 56rem;
}