#section-02 {
  display: grid;
  grid-template-columns: auto var(--width-desktop) auto;
}
#s02-a {
  grid-column-start: 2;
  grid-column-end: 3;
}

#s02-b {
  padding-left: calc(var(--width-desktop) - 746rem);
  background-image: url('../assets/image.webp');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  height: 684rem;
  margin-bottom: 112rem;
}

/*-----------------------------------------------------------------------
/// Clients logotypes
-----------------------------------------------------------------------*/
.clients {
  display: flex;
  justify-content: space-between;
  margin-top: 96rem;
  margin-bottom: 113rem;
}
.clients > img {
  border: 1rem solid var(--color-gray-100);
  border-radius: 8rem;
}
.clients img:hover {
  box-shadow: 1rem 1rem 10rem var(--color-gray-100);
}

/*-----------------------------------------------------------------------
/// Headline and body
-----------------------------------------------------------------------*/

#s02-b h2 {
  margin-bottom: 13rem;
}

#s02-b > p:first-of-type {
  color: var(--color-gray-600);
  margin-bottom: 67rem;
}


/*-----------------------------------------------------------------------
/// App Features layout
-----------------------------------------------------------------------*/

#s02-features {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 48rem;
}


/*-----------------------------------------------------------------------
/// App Features keynotes
-----------------------------------------------------------------------*/

.features {
  width: 345rem;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  padding-left: 84rem;
}
.features h3 {
  font-size: var(--fontsize-heading-xs);
  padding-bottom: 15rem;
}
.features p {
  font-size: var(--fontsize-body-m);
}
.features__payments {
  background-image: url('../assets/icon-card.svg');
}
.features__statistics {
  background-image: url('../assets/icon-bars.svg');
}
.features__cashback {
  background-image: url('../assets/icon-wallet.svg');
}
.features__security {
  background-image: url('../assets/icon-shield.svg');
}
.features__support {
  background-image: url('../assets/icon-talk-bubbles.svg');
}
.features__standards {
  background-image: url('../assets/icon-smiley.svg');
}