@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  /* 
  Web browser default font size: 16px
  16px * 62.5% = 10px
  10px = 1rem
  */

  --fs-root: 62.5%;

  /* HEADINGS DESKTOP */

  --fs-h1: 5.6rem;
  --fs-h2: 4rem;
  --fs-h3: 3.2rem;
  --fs-h4: 2.4rem;
  --fs-h5: 2rem;

  /* BODY TEXT */

  --fs-l: 1.8rem;
  --fs-m: 1.6rem;
  --fs-s: 1.4rem;

  /* NAVIGATION TEXT */

  /* FONT WEIGHT */

  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* BRAND */

  --c-primary: #6366f1;
  --c-gradient: linear-gradient(to bottom, var(--c-primary) 0%, #8b5cf6 50%, #d946ef 100%);

  /* SYSTEM */

  --c-error: #ef4444;
  --c-success: #22c55e;
  --c-warning: #ffba08;
  --c-info: #4c82f7;
  --c-white: #fff;
  --c-black: #000;
  --c-transparent: rgb(255, 255, 255, 0.04);
  --c-txt-transparent: rgb(255, 255, 255, 0.7);

  /* GRAYSCALE */

  --c-gray-100: #f3f6ff; /* light bg */
  --c-gray-200: #eff2fc; /* secondary */
  --c-gray-300: #e2e5f1; /* divider, border */
  --c-gray-400: #d4d7e5; /* forms border */
  --c-gray-500: #b4b7c9; /* input placeholder */
  --c-gray-600: #9397ad; /* muted text */
  --c-gray-700: #565973; /* body text */
  --c-gray-800: #33354d; /* navigation */
  --c-gray-900: #0b0f19; /* heading, dark */

  /* DARK OR LIGHT THEME */

  --c-bg: var(--c-white);
  --c-dark: var(--c-gray-100);
  --c-bg-dark: var(--c-transparent);
  --c-bg-light: var(--c-100);

  /* LAYOUT */

  --width-desktop: 1296px;
  --height-xxl: 1304px;
  --height-xl: 1176px;
  --height-l: 1104px;
  --height-m: 1077px;
  --height-s: 876px;
  --height-xs: 542px;
  --height-xxs: 76px;

  /* CO */
  --background-primary: var(--c-white);
  --text-primary: var(--c-gray-700);
  --header-bg: var(--c-white);
  --toggle-bg: var(--c-gray-600);
  --toggle-circle: var(--c-white);
  --toggle-border: var(--c-gray-600);

  --c-dark: var(--c-gray-100);
  --c-header: var(--c-gray-900);
  --c-text: var(--c-gray-700);

  --i-appstore: url("../assets/appstore-light.svg");
  --i-googleplay: url("../assets/googleplay-light.svg");
  --i-app-bg: var(--c-gray-900);

  --fs-nav: var(--fs-s);
  --c-nav: var(--c-gray-800);
  --c-nav-hover: var(--c-primary);

  --i-arrow-down: url("../assets/arrow-down-black-w-circle-bg.svg");

  --c-border: var(--c-gray-300);

  --c-input-bg: var(--c-white);

  --c-author-comment: var(--c-gray-700);
  --c-author-name: var(--c-gray-900);
  --c-testimonial-bg: rgba(255, 255, 255, 1);
  --shadow-quote-icon: 0px 5px 5px 0px rgb(0 0 0 / 5%);
}

:root.dark {
  --background-primary: var(--c-gray-900);
  --text-primary: var(--c-gray-100);
  --header-bg: var(--c-gray-900);
  --toggle-bg: var(--c-primary);
  --toggle-circle: var(--c-white);
  --toggle-border: var(--c-gray-300);

  --c-dark: var(--c-transparent);
  --c-header: var(--c-white);
  --c-text: var(--c-txt-transparent);

  --i-appstore: url("../assets/appstore-dark.svg");
  --i-googleplay: url("../assets/googleplay-dark.svg");
  --i-app-bg: var(--c-gray-100);

  --c-nav: var(--c-white);
  --c-nav-hover: var(--c-primary);

  --i-arrow-down: url("../assets/arrow-down-white-w-circle-bg.svg");

  --c-border: rgb(255, 255, 255, 0.15);

  --c-input-bg: var(--c-transparent);

  --c-author-comment: var(--c-gray-500);
  --c-author-name: var(--c-white);
  --c-testimonial-bg: rgba(255, 255, 255, 0.04);
  --shadow-quote-icon: 0px 5px 5px 0px rgb(255 255 255 / 5%);
}

/*-----------------------------------------------------------------------
/// Font classes
-----------------------------------------------------------------------*/

.fs-l {
  font-size: var(--fs-l);
}
.fs-m {
  font-size: var(--fs-m);
}
.fs-s {
  font-size: var(--fs-s);
}

/*-----------------------------------------------------------------------
/// Reset styles
-----------------------------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----------------------------------------------------------------------
/// Global styles
-----------------------------------------------------------------------*/

* {
  border: 0px dashed lightgray; /* pxOVE WHEN DONE */
}

html {
  /* color-scheme: light dark; */
  font-size: var(--fs-root);
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--fs-m);
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--c-text);
  background-color: var(--background-primary);
}

/* Headlines */

h1,
h2,
h3,
h4,
h5 {
  color: var(--c-header);
  font-weight: var(--fw-extrabold);
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}

/* Anchors */

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav a,
nav a:visited {
  color: var(--c-nav);
}

/*-----------------------------------------------------------------------
/// Global button style
-----------------------------------------------------------------------*/

.button {
  background-color: var(--c-primary);
  color: var(--c-white);
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  align-content: center;
}

/*-----------------------------------------------------------------------
/// Background color for certain sections
-----------------------------------------------------------------------*/

.bg__dark {
  background-color: var(--c-dark);
}

/*-----------------------------------------------------------------------
/// Header
-----------------------------------------------------------------------*/

header {
  background-image: url("../assets/gradient-bg.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  display: grid;
  grid-template-columns: 1fr var(--width-desktop) 1fr;
}

#header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 76px;
  width: var(--width-desktop);
  grid-column-start: 2;
  grid-column-end: 3;
}

nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

nav img {
  display: block;
}

nav a {
  font-weight: 600;
}

.wrapper__toggle_signin {
  display: flex;
  align-items: center;
  gap: 32px;
}
.wrapper__darkmode {
  padding-right: 17px;
  color: var(--text-primary);
  font-weight: 600;
}

/* Dark mode toggle */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch {
  text-indent: -9999px;
  position: relative;
  display: inline-block;
  margin-top: 0.5px;
  width: 46px;
  height: 24px;
  background-color: var(--c-gray-600);
  border-radius: 100px;

  cursor: pointer;
  transition: 0.25s ease-in;
}
.switch::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--toggle-circle);
  border-radius: 50%;
  transition: all 0.25s ease-out;
}
#switch:checked + .switch {
  background-color: var(--c-primary);
}
#switch:checked + .switch::after {
  transform: translateX(22px);
}

/* Styles for Sign in/up buytton */

.button__signin {
  display: inline-block;
  width: 140px;
  height: 36px;
  background-image: url("../assets/avatar.svg");
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  text-align: right;
  border-radius: 4px;
  padding-right: 20px;
}

.button__signin:hover {
  text-decoration: underline;
}

/*-----------------------------------------------------------------------
/// Section 1
-----------------------------------------------------------------------*/

#section-01 {
  background-image: url("../assets/gradient-bg.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  display: grid;
  grid-template-columns: auto var(--width-desktop) auto;
}

#section-01 .s01 {
  display: grid;
  grid-template-rows: 318px 58px 100px 324px;
  justify-content: left;
  align-items: end;
  background-image: url("../assets/iphones-dropshadow-hq.webp");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  grid-column-start: 2;
  grid-column-end: 3;
}

#section-01 .s01 h1,
#section-01 .s01 p,
#section-01 .s01 div {
  width: 540px;
}

#section-01 .s1 h1 {
  margin-bottom: 18px;
}

#download {
  display: flex;
  justify-content: left;
  gap: 24px;
}

/* Styles for AppStore and Google Play */

.app {
  display: inline-block;
  background-color: var(--i-app-bg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 180px;
  height: 52px;
  border-radius: 8px;
  text-indent: -9999px;
}
.app__appstore {
  background-image: var(--i-appstore);
}
.app__googleplay {
  background-image: var(--i-googleplay);
}

/* Styles for the link Discover More */

.link__discover_more {
  color: var(--c-text);
  font-size: var(--fs-s);
  display: block;
  width: 155px;
  height: 67px;
  align-content: center;
  text-align: right;
  background-image: var(--i-arrow-down);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  margin-bottom: 64px;
}
.link__discover_more:visited {
  color: var(--c-text);
}

/*-----------------------------------------------------------------------
/// Section 2
-----------------------------------------------------------------------*/

#section-02 {
  display: grid;
  grid-template-columns: auto var(--width-desktop) auto;
}
#s02-a {
  grid-column-start: 2;
  grid-column-end: 3;
}

#s02-b {
  padding-left: calc(var(--width-desktop) - 746px);
  background-image: url("../assets/image.webp");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  height: 684px;
  margin-bottom: 112px;
}

/* Clients logotypes*/

.clients {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 113px;
}
.clients > img {
  border: 1px solid var(--c-border);
  border-radius: 8px;
}
.clients img:hover {
  box-shadow: 1px 1px 10px var(--c-gray-100);
}

/* Headline and body */

#s02-b h2 {
  margin-bottom: 13px;
}

#s02-b > p:first-of-type {
  margin-bottom: 67px;
}

/* App Features layout */

#s02-features {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 48px;
}

/* App Features keynotes */

.features {
  width: 345px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  padding-left: 84px;
}
.features h5 {
  padding-bottom: 15px;
}

.features__payments {
  background-image: url("../assets/icon-card.svg");
}
.features__statistics {
  background-image: url("../assets/icon-bars.svg");
}
.features__cashback {
  background-image: url("../assets/icon-wallet.svg");
}
.features__security {
  background-image: url("../assets/icon-shield.svg");
}
.features__support {
  background-image: url("../assets/icon-talk-bubbles.svg");
}
.features__standards {
  background-image: url("../assets/icon-smiley.svg");
}

/*-----------------------------------------------------------------------
/// Section 3
-----------------------------------------------------------------------*/

#section-03 {
  background-image: url("../assets/carousel-hq.webp");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 180px;
}

#section-03 div {
  display: grid;
  grid-template-rows: 883px 46px 148px;
  grid-template-columns: 636px;
  justify-content: center;
  text-align: center;
}

#section-03 h2 {
  padding-top: 80px;
}

/*-----------------------------------------------------------------------
/// Section 4
-----------------------------------------------------------------------*/

#section-04 {
  display: grid;
  grid-template-columns: auto 1076px auto;
}
#section-04 > div:first-of-type {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  align-items: center;
  margin-top: 112px;
  margin-bottom: 112px;
}

/* Styles for Make your money... */

.container__make_your_money {
  height: 500px;
  padding-right: 665px;
  background-image: url("../assets/graphic-1.webp");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  margin-bottom: 80px;
}
.container__make_your_money h2 {
  font-size: var(--fs-h3);
  line-height: 130%;
  margin-top: 80px;
  margin-bottom: 44px;
  width: 400px;
}
.container__make_your_money ul {
  list-style-position: inside;
  list-style-type: none;
}
.container__make_your_money li {
  background-image: url("../assets/check-circle.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  text-indent: 28px;
  margin-bottom: 20px;
}
.container__make_your_money a {
  margin-top: 40px;
}

/* Styles for Receive payment... */

.container__receive_payment {
  height: 500px;
  padding-left: 550px;
  background-image: url("../assets/graphic-2.webp");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}
.container__receive_payment h2 {
  font-size: var(--fs-h3);
  line-height: 130%;
  margin-top: 74px;
  margin-bottom: 40px;
}
.container__receive_payment div {
  display: flex;
  justify-content: space-between;
}
.container__receive_payment p {
  display: inline-block;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  width: 243px;
  line-height: 160%;
  padding-top: 80px;
}
.container__receive_payment p:first-of-type {
  background-image: url("../assets/icon-card.svg");
}
.container__receive_payment p:last-of-type {
  background-image: url("../assets/icon-wallet.svg");
}
.container__receive_payment a {
  margin-top: 40px;
}

/* Styles for the Learn More button */

.button__learn_more {
  display: block;
  width: 156px;
  height: 44px;
  background-image: url("../assets/arrow-right-white.svg");
  background-repeat: no-repeat;
  background-position-x: 116px;
  background-position-y: 17px;
  text-align: right;
  border-radius: 6px;
  padding-right: 56px;
}

/*-----------------------------------------------------------------------
/// Section 5
-----------------------------------------------------------------------*/

#section-05 {
  display: grid;
  grid-template-columns: auto var(--width-desktop) auto;
}
#section-05 > div {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 72px;
  margin-bottom: 99px;
  display: grid;
  grid-template-columns: 420px auto auto;
}
#s05 > h2 {
  width: 306px;
  margin-top: -8px;
}
/* #s05 > div {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  height: 380px;
  padding-top: 110px;
} */
.star-rating {
  margin: -1rem 0 2rem 0;
 }
.star {
  color: var(--c-warning);
}
.quote-icon {
  width: 44px;
  height: 44px;
  background-color: var(--c-primary);
  border-radius: 6px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -45px;
  box-shadow: var(--shadow-quote-icon)
}
.fa-quote-left {
  color: var(--c-white);
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.testimonial {
  background-color: var(--c-testimonial-bg);
  border-radius: 8px;
  padding: 20px;
}
.testimonial-author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 2rem;
}
.comment {
  font-size: var(--fs-m);
  font-weight: var(--fw-regular);
  line-height: 160%;
  color: var(--c-author-comment);
}
.name {
  font-size: var(--fs-m);
  font-weight: var(--fw-bold);
  color: var(--c-author-name);
}
.role {
  font-size: var(--fs-s);
  font-weight: var(--fw-regular);
  color: var(--c-author-comment);
}
/*
#s05 > div:first-of-type {
  background-image: url("../assets/rating-4.svg");
}
#s05 > div:last-of-type {
  background-image: url("../assets/rating-5.svg");
}
.testimonials {
  width: 368px;
  height: 217px;
  margin-left: 34px;
}
.testimonials p {
  font-size: var(--fs-l);
  line-height: 160%;
  margin-bottom: 24px;
}
.testimonials > div {
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  height: 48px;
}
.testimonials #client-1 {
  background-image: url("../assets/client-fanny.png");
}
.testimonials #client-2 {
  background-image: url("../assets/client-albert.png");
}
.name {
  color: var(--c-gray-900);
  font-weight: var(--fw-semibold);
}
.occupation {
  color: var(--c-gray-600);
  font-size: var(--fs-s);
} */

/*-----------------------------------------------------------------------
/// Section 6
-----------------------------------------------------------------------*/

#section-06 {
  display: grid;
  grid-template-columns: auto var(--width-desktop) auto;
}

#section-06 > div {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 72px;
  margin-bottom: 99px;
  display: grid;
  grid-template-columns: 417px auto;
  gap: 134px;
}

.s06 {
  width: 416px;
}

.s06 > h3 {
  margin-bottom: 30px;
}

.s06 > p:first-of-type {
  margin-bottom: 40px;
}

.contact-us {
  display: flex;
  justify-content: space-between;
}

.contact-us div {
  width: 196px;
  height: 166px;
  border: 1px solid var(--c-border);
  border-radius: 8px;
  padding: 20px;
}

.contact-us * {
  font-size: var(--fs-s);
}

.contact-us > div > p {
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  padding-top: 50px;
  padding-bottom: 20px;
}

.contact-us > div > #call {
  background-image: url("../assets/phone-call.svg");
}

.contact-us > div > #chat {
  background-image: url("../assets/speech-bubble.svg");
}

.contact-us > div > a {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  padding-right: 25px;
}

.contact-us > div > #call ~ a,
.contact-us > div > #call ~ a:visited {
  color: var(--c-primary);
  background-image: url("../assets/arrow-right-purple.svg");
}

.contact-us > div > #chat ~ a,
.contact-us > div > #chat ~ a:visited {
  color: var(--c-success);
  background-image: url("../assets/arrow-right-green.svg");
}



/* .details {
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 3%);
  border-radius: 8px;
  min-height: 68px;
  margin-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
}

.summary {
  font-weight: var(--fw-medium);
  color: var(--c-gray-900);
  list-style: none;
  line-height: 16px;
  padding-top: 24px;
  height: 68px;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  cursor: pointer;
}

.details > div {
  font-size: var(--fs-s);
  line-height: 160%;
  color: var(--c-gray-700);
  min-height: 88px;
  padding-bottom: 20px;
} */

/*-----------------------------------------------------------------------
/// Footer
-----------------------------------------------------------------------*/

footer {
  display: grid;
  grid-template-columns: auto var(--width-desktop) auto;
  align-items: center;
}

footer > div {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 222px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

footer h2 {
  font-size: var(--fs-h4);
  width: 526px;
  height: 80px;
  padding-left: calc(526px - 416px);
  padding-top: 5px;
  background-image: url("../assets/bell.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

footer > p {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  color: var(--c-gray-600);
  font-size: var(--fs-s);
  margin: 65px 0;
}

footer label {
  display: none;
}

footer input {
  height: 52px;
}

footer input:first-of-type {
  width: 330px;
  padding-left: 18px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid var(--c-border);
  background-color: var(--c-input-bg);
  color: var(--c-text);
}

footer input:last-of-type {
  width: 142px;
  color: #fff;
  font-weight: 600;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

footer input:first-of-type::placeholder {
  color: var(--c-gray-500);
  background-image: url("../assets/envelope.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-origin: content-box, padding-box;
}

.subscribe-button {
  background-color: var(--c-primary);
}

/* #subscribe:invalid {
  border: 1px solid var(--c-error);
  background-image: url("../assets/icon-error.svg");
  background-repeat: no-repeat;
  background-position: calc(330px - 30px) center;
}

#subscribe:valid:not(:placeholder-shown) {
  border: 1px solid var(--c-success);
  background-image: url("../assets/icon-success.svg");
  background-repeat: no-repeat;
  background-position: calc(330px - 30px) center;
} */
